<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.collection.dao.CollectionRecordDao">

    <update id="batchMarkCollectionRecords">
        update `collection_record`  set `is_mark` = #{isMark}  where
            id in (${ids})
    </update>

</mapper>